POSTGRES_DB=peculytics
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

GEMINI_API_KEY=your_api_key
GEMINI_MODEL=gemini-flash-lite-latest

PUBLIC_API_BASE_URL=http://localhost:3000